{% extends 'base.html' %}

{% block content %}


{% for post in posts %}
  <div style="border:1px solid #ccc; padding:10px; margin:10px;">
    <h4>{{ post.profile.user.username }}</h4>
    <img src="{{ post.image.url }}" style="width:300px;"><br>
    <p>{{ post.caption }}</p>

    <form action="{% url 'like_post' post.id %}" method="POST" class="d-flex align-items-center gap-2">
        {% csrf_token %}
        <button type="submit" class="btn {% if user in post.likes.all %}btn-danger{% else %}btn-success{% endif %}">
          {% if user in post.likes.all %}
              Unlike
          {% else %}
              👍 Like
          {% endif %}
      </button>
        <span>👍 {{ post.total_likes }}</span>
    </form>

  
   

    <p><small>{{ post.created_at }}</small></p>
  </div>
{% empty %}
  <p>No posts yet.</p>
{% endfor %}


{% endblock %}